.swiper {
    position: relative;
}

.swiper-buttons {

}

.swiper-button-prev,
.swiper-button-next {
    @include no-btn;
    display: none;
    width: 20px;
    height: 6px;
    transition: transform 0.25s ease-out 0s;

    @media (min-width: $desktop) {
        display: block;

    }
}

.swiper-button-prev {
    background: url(../img/icon-prev.png) no-repeat 50% 50%;

    &:hover {
        transform: translateX(-4px);
    }
}

.swiper-button-next {
    background: url(../img/icon-next.png) no-repeat 50% 50%;
    margin-bottom: 5px;

    &:hover {
        transform: translateX(4px);
    }
}


.swiper-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;

    @media (min-width: $desktop) {
        display: none;
    }
}

.swiper-pagination-bullet {
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;


    &-active {
        transform: scale(1.66)
    }

}
