.swiper {
    position: relative;
}

.swiper-buttons {
    position: absolute;
    z-index: 2;
    width: 20px;
}

.swiper-button-prev,
.swiper-button-next {

    @include no-btn;

    display: none;
    width: 20px;
    height: 6px;
    transition: transform 0.25s ease-out 0s;

    @media (min-width: $desktop) {
        display: block;
    }
}

.swiper-button-prev {
    background: url(../img/icon-prev.png) no-repeat 50% 50%;

    &:hover {
        transform: translateX(-4px);
    }
}

.swiper-button-next {
    margin-bottom: 5px;
    background: url(../img/icon-next.png) no-repeat 50% 50%;

    &:hover {
        transform: translateX(4px);
    }
}

.swiper-pagination {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    display: flex;
    flex-shrink: 0;
    transform: translateX(-50%);

    @media (min-width: $desktop) {
        display: none;
    }
}

.swiper-pagination-bullet {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background-color: #fff;
    border-radius: 50%;

    &-active {
        transform: scale(1.66);
    }
}
