.bonus {
    padding-left: 10px;

    @media (min-width: $laptop) {
        padding-left: 30px;
    }

    @media (min-width: $desktop) {
        margin-top: 0;
    }

    &__inner {
        position: relative;
        padding-left: 9px;
        border-left: $border;
        padding-bottom: 14px;
        padding-top: 16px;

        @media (min-width: $laptop) {
            padding-left: 30px;
            border-left-width: 2px;
        }

        @media (min-width: $desktop) {
            margin-left: auto;
            width: 952px;
            padding-top: 45px;
            padding-bottom: 4px;
        }

        &::before {
            content: "";
            position: absolute;
            left: -11px;
            top: 0;
            height: 1px;
            width: 11px;
            background-color: $border-color;

            @media (min-width: $laptop) {
                left: -32px;
                width: 32px;
                height: 2px;
            }

            @media (min-width: $desktop) {
                left: -298px;
                width: 298px;
            }
        }
    }

    &__title {
        margin-top: 0;
        margin-bottom: 29px;
        padding-right: 10px;
        padding-left: 10px;

        @media (min-width: $desktop) {
            margin-bottom: 103px;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
    }

    &__tile {
        top: -31px;
        padding-top: 23px;
        padding-bottom: 23px;

        @media (min-width: $laptop) {
            padding-top: 56px;
            padding-bottom: 58px;
        }

        @media (min-width: $desktop) {
            margin-left: auto;
            top: -50px;
            padding-left: 50px;
            padding-top: 45px;
        }
    }

    &__swiper {
        position: relative;
        left: -20px;
        margin: 0;
        z-index: 1;
        width: 100%;

        @media (min-width: $laptop) {
            left: -62px;
            width: 100%;
        }

        @media (min-width: $desktop) {
            position: absolute;
            left: -330px;
            width: 920px;
            height: 554px;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .swiper-buttons {
        left: -270px;
        bottom: 113px;
    }
}

.swiper-pagination--bonus {
    bottom: 50px;
}
