.projects {
/*    display: flex;
    flex-direction: column;*/
    padding-left: 10px;
    margin-top: -15px;

    @media (min-width: $laptop) {
        padding-left: 30px;
    }

    @media (min-width: $desktop) {
        margin-top: 0;
    }

    &__inner {
        position: relative;
        padding-left: 9px;
        border-left: $border;
        border-bottom: $border;
        padding-bottom: 40px;

        @media (min-width: $laptop) {
            padding-left: 30px;
            border-left-width: 2px;
            border-bottom-width: 2px;
        }

        @media (min-width: $desktop) {
            margin-left: auto;
            width: 952px;
            padding-top: 90px;
        }
    }

    &__slider {
        position: relative;
        width: 100%;
    }

    &__tile {
        top: -31px;
        padding-top: 23px;
        padding-bottom: 23px;

        @media (min-width: $laptop) {
            padding-top: 56px;
            padding-bottom: 58px;
        }

        @media (min-width: $desktop) {
            position: absolute;
            top: 36px;
            width: 470px;
        }
    }

    &__swiper {
        position: relative;
        left: -20px;
        margin: 0;
        z-index: 1;
        width: 100%;

        @media (min-width: $laptop) {
            left: -62px;
            width: 100%;
        }

        @media (min-width: $desktop) {
            left: -330px;
            width: 920px;
            height: 554px;
        }

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .swiper-buttons {
        position: absolute;
        right: 59px;
        bottom: 100px;
        z-index: 2;
        width: 68px;
    }
}
