.personal {
    padding-left: 20px;
    margin-bottom: 33px;

    @media (min-width: $laptop) {
        padding-left: 60px;
        margin-bottom: 55px;
    }

    &__title {
        padding-right: 20px;
        margin-top: 20px;
        margin-bottom: 54px;
    }

    &__subtitle {
        padding-bottom: 12px;
        margin-bottom: 20px;
        background: url(../img/divider.png) no-repeat 50% 100%;
        background-size: 100% 4px;

        @media (min-width: $tablet) {
            background-image: url(../img/divider-desktop.png);
        }
    }

    &__tile {
        top: 0;
        width: 100%;
        padding-top: 33px;

        @media (min-width: $laptop) {
            padding-top: 46px;
            padding-right: 58px;
            padding-left: 48px;
        }

        .swiper-buttons {
            top: 49px;
            right: 60px;
        }
    }
}

.swiper-pagination--personal {
    bottom: 20px;

    .swiper-pagination-bullet {
        background-color: $second-color;
    }
}
