.today {
    padding-left: 10px;

    @media (min-width: $laptop) {
        margin-bottom: 40px;
        padding-left: 30px;
    }

    &__intro {
        padding-top: 28px;
        padding-left: 10px;
        padding-right: 20px;
        padding-bottom: 24px;

        @media (min-width: $laptop) {
            padding-left: 32px;
            padding-top: 34px;
            padding-right: 32px;
            padding-bottom: 35px;
        }
    }

    &__cols {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        display: flex;
        flex-direction: column;
        width: 46%;

        @media (min-width: $laptop) {
            flex-direction: row;
            width: 48%;
        }

        &:last-child {
            justify-content: space-between;
        }

        p:first-child {
            margin-top: 0;
        }
    }

    &__stat {
        &:first-child {
            margin-bottom: 20px;
        }

        b {
            font-weight: bold;
            text-transform: uppercase;
            display: block;

        }

        strong {
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
            margin: 10px 0;

            @media (min-width: $laptop) {
                font-size: 48px;
            }

            &+b {
                @media (min-width: $tablet) {
                    display: inline-block;
                }
            }
        }

        p {
            margin-top: 6px;
        }
    }

    &__inner {
        position: relative;
        padding-left: 9px;
        border-left: $border;
        border-bottom: $border;
        padding-bottom: 0;
        padding-top: 16px;

        @media (min-width: $laptop) {
            padding-left: 30px;
            border-left-width: 2px;
            border-bottom-width: 2px;
        }

        @media (min-width: $desktop) {
            margin-left: auto;
            width: 952px;
            padding-bottom: 50px;
            padding-top: 0;
        }

        &::before {
            content: "";
            position: absolute;
            left: -11px;
            top: 0;
            height: 1px;
            width: 11px;
            background-color: $border-color;

            @media (min-width: $laptop) {
                left: -32px;
                width: 32px;
                height: 2px;
            }

            @media (min-width: $desktop) {
                left: -298px;
                width: 298px;
            }
        }
    }

    &__tile {
        top: 0;
        padding-bottom: 20px;

        @media (min-width: $desktop) {
            position: absolute;
            top: 36px;
            left: -300px;
            padding-top: 61px;
            padding-bottom: 50px;
        }
    }

    &__picture {
        position: relative;
        top: -45px;
        z-index: 1;
        max-height: 570px;

        @media (min-width: $desktop) {
            top: 0;
        }
    }

}
