<section class="about">
    <div class="about__inner">
        <div class="about__picture">
            <picture>
                <!-- <source srcset="img/about.webp" type="image/webp"> -->
                <img class="about__img" src="img/about.jpg" alt="Офис Интеко">
            </picture>
        </div>
        <div class="tile tile--left about__tile">
            <h2 class="title">Кто мы</h2>
            <p>&laquo;ИНТЕКО&raquo;&nbsp;&mdash; прогрессивный девелопер с&nbsp;государственным участием.</p>
            <p>Компания активно участвует в&nbsp;развитии городов: возводит современные жилые комплексы и&nbsp;социально значимые объекты, создает комфортные общественные пространства, формируя новые точки притяжения и&nbsp;современную среду для комфортной жизни.</p>
            <p>Компания включена в&nbsp;перечень системообразующих организаций строительной отрасли. Президент компании&nbsp;&mdash; Александр Николаев является членом Общественного совета при Минстрое&nbsp;РФ.</p>
        </div>
    </div>
</section>
