<section class="section about">
    <div class="text about__text">
        <h2 class="title">Кто мы</h2>
        <p>«ИНТЕКО» – прогрессивный девелопер с государственным участием.</p>
        <p>Компания активно участвует в развитии городов: возводит современные жилые комплексы и социально значимые объекты, создает комфортные общественные пространства, формируя новые точки притяжения и современную среду для комфортной жизни.</p>
        <p>Компания включена в перечень системообразующих организаций строительной отрасли. Президент компании – Александр Николаев является членом Общественного совета при Минстрое РФ.</p>
    </div>
    <div class="about__img">
        <img src="img/about.jpg" alt="Офис Интеко">
    </div>
</section>

