<section class="bonus">
    <div class="bonus__inner">
        <h2 class="title bonus__title">Компания предлагает своим сотрудникам</h2>
        <div class="bonus__slider">
            <div class="swiper bonus__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-01.webp" type="image/webp">
                            <img src="img/bonus/bonus-01.jpg" alt="Руководство">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-02.webp" type="image/webp">
                            <img src="img/bonus/bonus-02.jpg" alt="Спорт">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-03.webp" type="image/webp">
                            <img src="img/bonus/bonus-03.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-04.webp" type="image/webp">
                            <img src="img/bonus/bonus-04.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-05.webp" type="image/webp">
                            <img src="img/bonus/bonus-05.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-06.webp" type="image/webp">
                            <img src="img/bonus/bonus-06.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-07.webp" type="image/webp">
                            <img src="img/bonus/bonus-07.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-08.webp" type="image/webp">
                            <img src="img/bonus/bonus-08.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-09.webp" type="image/webp">
                            <img src="img/bonus/bonus-09.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-10.webp" type="image/webp">
                            <img src="img/bonus/bonus-10.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/bonus/bonus-11.webp" type="image/webp">
                            <img src="img/bonus/bonus-11.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination--bonus"></div>
            </div>
            <div class="swiper-buttons">
                <button class="swiper-button-next swiper-button-next--bonus" type="button"></button>
                <button class="swiper-button-prev swiper-button-prev--bonus" type="button"></button>
            </div>
            <div class="tile bonus__tile">
                <ul>
                    <li>работу в&nbsp;центре Москвы, в&nbsp;1&nbsp;минуте ходьбы от&nbsp;ст. метро &laquo;Красные ворота&raquo; </li>
                    <li>полное соблюдение норм трудового законодательства</li>
                    <li>возможность адаптации графика работы под индивидуальные потребности </li>
                    <li>возможность удаленного режима работы</li>
                    <li>своевременную выплату заработной платы</li>
                    <li>прозрачную систему KPI и&nbsp;премирования по&nbsp;итогам работы за&nbsp;год</li>
                    <li>корпоративные программы скидок и&nbsp;выгодные предложения от&nbsp;партнеров
                    </li>
                    <li>материальную поддержку </li>
                    <li>добровольное медицинское страхование (включая стоматологию, страхование выезжающих за&nbsp;рубеж, а&nbsp;также льготную стоимость страховки для членов семьи сотрудника) </li>
                    <li>широкие возможности для совместного времяпрепровождения вне работы: спортивные и&nbsp;интеллектуальные игры (в&nbsp;компании есть самообразующиеся группы по&nbsp;футболу, бегу и&nbsp;интеллектуальным викторинам), корпоративные праздники, участие в&nbsp;мероприятиях, проводимых Советом молодых специалистов строительной отрасли&nbsp;г. Москвы, и&nbsp;многое другое.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
