<section class="bonus">
    <div class="bonus__inner">
        <h2 class="title">Компания предлагает</h2>
        <div class="bonus__slider">
            <div class="swiper bonus__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-01.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-01.jpg" alt="Руководство">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-02.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-02.jpg" alt="Спорт">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-03.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-03.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-04.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-04.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-05.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-05.jpg" alt="Мероприятия">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-06.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-06.jpg" alt="ЖК&nbsp;&laquo;Гранд-паркъ&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-07.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-07.jpg" alt="Ждания МГУ имени М.&nbsp;В.&nbsp;Ломоносова">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-08.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-08.jpg" alt="ЖАвторский дом премиум-класса на&nbsp;Врубеля">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-09.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-09.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-10.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-10.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <!-- <source srcset="img/bonus/bonus-11.webp" type="image/webp"> -->
                            <img src="img/bonus/bonus-11.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="tile bonus__tile">
                <ul>
                <li>В&nbsp;2019&nbsp;г. состоялся ребрендинг </li>
                <li>Компания одной из&nbsp;первых в&nbsp;России перешла на&nbsp;работу по&nbsp;новым правилам строительной отрасли, предполагающей использование эскроу-счетов</li>
                <li>Происходит комплексная цифровизация бизнес-процессов</li>
                <li>Запускаются новые масштабные девелоперские проекты</li>
                <li>Компания реализует нестандартные имиджевые проекты, поддерживает творчество современных российских художников по&nbsp;созданию крупных уличных скульптур</li>
            </ul>
            </div>
            <div class="swiper-buttons">
                <button class="swiper-button-next" type="button"></button>
                <button class="swiper-button-prev" type="button"></button>
            </div>
        </div>
    </div>
</section>
