<header class="header-main">
    <div class="container header-main__container">
        <button class="nav-btn-open"><span>Меню<span></button>
        <a class="logo header-main__logo" href="#">
            <img src="img/logo.svg" alt="Логотип">
        </a>
        <form class="header-main__form-search" action="" method="">
            <fieldset class="search header-main__search">
                <input class="search__input" type="text" placeholder="Поиск по сайту...">
                <button class="search__btn" type="submit">Найти</button>
            </fieldset>
        </form>
    </div>
    <nav class="nav">
        <div class="nav__wrapper">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="catalog.html">Каталог</a></li>
                <li class="nav__item"><a class="nav__link" href="#design">Дизайн</a></li>
                <li class="nav__item"><a class="nav__link" href="#">О нас</a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts">Контакты</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Доставка</a></li>
                <li class="nav__item"><a class="nav__link" href="#">Гарантия</a></li>
            </ul>
            <button class="nav-btn-close"></button>
        </div>
    </nav>
</header>
