<section class="personal">
    <h2 class="title personal__title">Основные принципы работы с&nbsp;персоналом</h2>
    <div class="tile tile--right personal__tile">
        <div class="swiper-buttons">
            <button class="swiper-button-next swiper-button-next--personal" type="button"></button>
            <button class="swiper-button-prev swiper-button-prev--personal" type="button"></button>
        </div>
        <div class="swiper personal__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h3 class="subtitle personal__subtitle">Обеспечение достойного уровня жизни сотрудников</h3>
                    <div>
                        <p>&laquo;ИНТЕКО&raquo; заботится о&nbsp;сотрудниках и&nbsp;предлагает широкий компенсационный пакет. Система материальной мотивации состоит из&nbsp;фиксированной (оклад) и&nbsp;переменной (премия) частей и&nbsp;адаптирована под актуальные задачи бизнеса, обеспечивая четкую взаимосвязь между результатами труда каждого отдельного работника, бизнес-результатами компании в&nbsp;целом и&nbsp;вознаграждением. Социальный пакет регулярно пересматривается, подстраиваясь под актуальные запросы сотрудников.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h3 class="subtitle personal__subtitle">Непрерывное развитие
                        персонала</h3>
                    <div>
                        <p>&laquo;ИНТЕКО&raquo; стремится к&nbsp;формированию обучающей рабочей среды, в&nbsp;которой новые знания и&nbsp;опыт сотрудники получают естественным путем&nbsp;&mdash; в&nbsp;рамках текущей деятельности, в&nbsp;процессах рабочего взаимодействия, через участие в&nbsp;девелоперских и&nbsp;трансформационных проектах. На&nbsp;внутрикорпоративных ресурсах формируется база знаний и&nbsp;инструментарий, с&nbsp;помощью которых сотрудники могут самостоятельно изучать интересующие их&nbsp;темы. В&nbsp;компании есть у&nbsp;кого учиться: представители &laquo;ИНТЕКО&raquo; являются авторитетными экспертами, чье мнение публикуют РБК, &laquo;Коммерсантъ&raquo;, &laquo;Ведомости&raquo;, ТАСС, &laquo;Интерфакс&raquo;, &laquo;Строительная газета&raquo; и&nbsp;чьи интервью транслируют Business FM&nbsp;и&nbsp;РБК-ТВ.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h3 class="subtitle personal__subtitle">Приоритет внутренних
                        кандидатов</h3>
                    <div>
                        <p>Формируя команду, компания сочетает методы внутреннего и&nbsp;внешнего найма, при этом на&nbsp;ряд позиций приоритетно рассматриваются сотрудники компании.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h3 class="subtitle personal__subtitle">Объективность оценки
                        и&nbsp;критериев отбора кандидатов</h3>
                    <div>
                        <p>Кандидаты проходят многоступенчатое интервью по&nbsp;компетенциям: с&nbsp;HR, непосредственным и&nbsp;вышестоящими профильными руководителями. Оценка по&nbsp;формальным профессиональным параметрам обеспечивает ее&nbsp;объективность и&nbsp;возможность сравнения кандидатов по&nbsp;единым критериям. Для оценки кандидатов на&nbsp;некоторые позиции предусмотрено профессиональное тестирование.</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <h3 class="subtitle personal__subtitle">Сбалансированный подход
                        к&nbsp;формированию кадрового состава</h3>
                    <div>
                        <p>Сотрудники &laquo;ИНТЕКО&raquo; &mdash;вчерашние выпускники вузов, профильные специалисты, зрелые руководители, имеющие многолетний опыт работы в&nbsp;отрасли. Средний возраст сотрудников компании&nbsp;&mdash; 39&nbsp;лет.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination--personal"></div>
    </div>
</section>
