<section class="projects">
    <div class="projects__inner">
        <div class="projects__intro">
            <h2 class="title">Наши проекты</h2>
            <p>За&nbsp;19&nbsp;лет на&nbsp;рынке недвижимости компания реализовала более 80&nbsp;проектов в&nbsp;Москве, Ростове-на-Дону, Санкт-Петербурге и&nbsp;Ленинградской области и&nbsp;построила более 5&nbsp;млн&nbsp;кв.&nbsp;м.</p>
        </div>
        <div class="projects__slider">
            <div class="swiper swiper-container projects__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-01.webp" type="image/webp">
                            <img src="img/projects/project-01.jpg" alt="Легендарный элитный комплекс в&nbsp;Хамовниках &laquo;Садовые кварталы&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-02.webp" type="image/webp">
                            <img src="img/projects/project-02.jpg" alt="ЖЖК&nbsp;бизнес-класса &laquo;West Garden&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-03.webp" type="image/webp">
                            <img src="img/projects/project-03.jpg" alt="ЖЖК&nbsp;комфорт-класса &laquo;Вестердам&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-04.webp" type="image/webp">
                            <img src="img/projects/project-04.jpg" alt="ЖК&nbsp;&laquo;Шуваловский&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-05.webp" type="image/webp">
                            <img src="img/projects/project-05.jpg" alt="ЖК&nbsp;&laquo;DOMINION&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-06.webp" type="image/webp">
                            <img src="img/projects/project-06.jpg" alt="ЖК&nbsp;&laquo;Гранд-паркъ&raquo;">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-07.webp" type="image/webp">
                            <img src="img/projects/project-07.jpg" alt="Ждания МГУ имени М.&nbsp;В.&nbsp;Ломоносова">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-08.webp" type="image/webp">
                            <img src="img/projects/project-08.jpg" alt="ЖАвторский дом премиум-класса на&nbsp;Врубеля">
                        </picture>
                    </div>
                    <div class="swiper-slide">
                        <picture>
                            <source srcset="img/projects/project-09.webp" type="image/webp">
                            <img src="img/projects/project-09.jpg" alt="Элитный комплекс апартаментов Balchug Residence">
                        </picture>
                    </div>
                </div>
                <div class="swiper-pagination swiper-pagination--projects"></div>
            </div>
            <div class="tile tile--right projects__tile">
                <h3 class="subtitle">Среди знаковых проектов:</h3>
                <p>Легендарный элитный комплекс в&nbsp;Хамовниках &laquo;Садовые кварталы&raquo;, ЖК&nbsp;бизнес-класса &laquo;West Garden&raquo;, ЖК&nbsp;комфорт-класса &laquo;Вестердам&raquo;, ЖК&nbsp;&laquo;Шуваловский&raquo;, ЖК&nbsp;&laquo;DOMINION&raquo;, ЖК&nbsp;&laquo;Гранд-паркъ&raquo;, Здания МГУ имени М.&nbsp;В.&nbsp;Ломоносова, Авторский дом премиум-класса на&nbsp;Врубеля, 4, Элитный комплекс апартаментов Balchug Residence, элитный комплекс апарт-резиденций Balchug Viewpoint.</p>
            </div>
            <div class="swiper-buttons">
                <button class="swiper-button-next swiper-button-next--projects" type="button"></button>
                <button class="swiper-button-prev swiper-button-prev--projects" type="button"></button>
            </div>
        </div>
        <div class="projects__outro">
            <p>Из&nbsp;года в&nbsp;год проекты &laquo;ИНТЕКО&raquo; побеждают в&nbsp;престижных российских и&nbsp;международных отраслевых премиях, что подтверждает признание профессионального сообщества и&nbsp;любовь наших клиентов. Компания стала обладателям уже более 35&nbsp;наград и&nbsp;продолжает запускать новые яркие проекты на&nbsp;рынке недвижимости.</p>
        </div>
    </div>
</section>
