<section class="section projects">
    <div class="projects__intro">
        <h2 class="title">Наши проекты</h2>
        <p>За 19 лет на рынке недвижимости компания реализовала более 80 проектов в Москве, Ростове-на-Дону, Санкт-Петербурге и Ленинградской области и построила более 5 млн кв. м.</p>
    </div>
    <div class="swiper projects__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <picture>
                    <img src="img/projects/project-01.jpg" alt="Легендарный элитный комплекс в Хамовниках «Садовые кварталы»">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <img src="img/projects/project-02.jpg" alt="ЖК бизнес-класса «West Garden»">
                </picture>
            </div>
            <div class="swiper-slide">
                <picture>
                    <img src="img/projects/project-03.jpg" alt="ЖК комфорт-класса «Вестердам»">
                </picture></div>
        </div>
        <div class="swiper-pagination"></div>
        <button class="swiper-button-prev" type="button"></button>
        <button class="swiper-button-next" type="button"></button>
    </div>
    <div class="tile projects__tile">
        <h3 class="subtitle">Среди знаковых проектов:</h3>
        <p>Легендарный элитный комплекс в Хамовниках «Садовые кварталы», ЖК бизнес-класса «West Garden», ЖК комфорт-класса «Вестердам», ЖК «Шуваловский», ЖК «DOMINION», ЖК «Гранд-паркъ», Здания МГУ имени М. В. Ломоносова, Авторский дом премиум-класса на Врубеля, 4, Элитный комплекс апартаментов Balchug Residence, элитный комплекс апарт-резиденций Balchug Viewpoint.</p>
    </div>
    <div class="projects__outro">
        <p>Из года в год проекты «ИНТЕКО» побеждают в престижных российских и международных отраслевых премиях, что подтверждает признание профессионального сообщества и любовь наших клиентов. Компания стала обладателям уже более 35 наград и продолжает запускать новые яркие проекты на рынке недвижимости.</p>
    </div>


</section>

