body {
    min-width: 300px;
    background-color: #fff;
    color: $main-color;
    font: $font-base;

    @media (min-width: $laptop) {
        font-size: 16px;
    }
}

.container {
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 610px;
    }

    @media (min-width: $laptop) {
        max-width: 930px;
    }

    @media (min-width: $desktop) {
        max-width: 1250px;
    }
}

.main {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;

    @media (min-width: $tablet) {
        padding-right: 0;
        padding-left: 0;
    }

    &__container {
        background-color: #f5f0f0;
        background-color: green;
    }
}

.tile {
    background-color: #fff;
    padding: 20px;

    @media (min-width: $laptop) {
        padding: 60px 40px;
    }
}
