body {
    min-width: 300px;
    background-color: #fff;
    color: $main-color;
    font: $font-base;
}

.container {
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 610px;
    }

    @media (min-width: $laptop) {
        max-width: 930px;
    }

    @media (min-width: $desktop) {
        max-width: 1250px;
    }
}

.main {
    padding: 0 15px 30px 15px;

    &__container {
        background-color: #f5f0f0;
        display: flex;
    }
}

.section {
    width: 948px;
}

.tile {
    background-color: #fff;
    padding: 60px 40px;
}
