body {
    min-width: 300px;
    background-color: #fff;
    color: $main-color;
    font: $font-base;

    @media (min-width: $laptop) {
        font-size: 16px;
    }
}

.container {
    margin: 0 auto;

    @media (min-width: $tablet) {
        max-width: 610px;
    }

    @media (min-width: $laptop) {
        max-width: 930px;
    }

    @media (min-width: $desktop) {
        max-width: 1250px;
    }
}

.main {
    height: 800px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    background-color: orange;

    @media (min-width: $tablet) {
        padding-right: 0;
        padding-left: 0;
    }

    &__container {
        height: 100%;
        background-color: #f5f0f0;
        background-color: green;
    }
}

.tile {
    position: relative;
    top: -40px;
    padding-top: 38px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    background-color: #fff;

    @media (min-width: $laptop) {
        top: -80px;
        padding-top: 52px;
        padding-right: 30px;
        padding-bottom: 52px;
        padding-left: 60px;
    }

    &--left {
        left: -20px;

        @media (min-width: $laptop) {
            left: -62px;
        }
    }

    &--right {

    }
}
