.title {
    margin: 0 0 14px;
    color: $second-color;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;

    @media (min-width: $laptop) {
        margin-bottom: 20px;
        font-size: 32px;
    }
}

p {
    margin: 8px 0;

    @media (min-width: $laptop) {
        margin: 10px 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ul {

    @include no-list;

    li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 10px;

        &::before {
            position: absolute;
            top: 12px;
            left: 0;
            display: inline-block;
            width: 16px;
            height: 2px;
            background-color: $second-color;
            content: "";
            font-size: 20px;
        }
    }
}
