$font-sans-serif: 'Gotham Pro', "Segoe UI", roboto, "Helvetica Neue", helvetica, arial, sans-serif;
$font-serif: 'Playfair Display', georgia, times, "Times New Roman", serif;

$font-base: 400 16px $font-sans-serif;

$main-color: #000;

$laptop: 1171px;
$tablet: 769px;
$max: 641px;

$black: #000;
