$font-sans-serif: arial, "Segoe UI", roboto, "Helvetica Neue", helvetica, sans-serif;
$font-base: 16px/24px $font-sans-serif;

$main-color: #1e1e1e;
$second-color: #4764b0;

$desktop: 1340px;
$laptop: 1020px;
$tablet: 700px;

$border: 2px solid #d2c8c8;
